{% extends 'base.html' %}

{% block title %}Bookings{% endblock %}

{% block content %}
    <h1>All Bookings</h1>
    <ul class="list-group">
    {% for booking in bookings %}
        <li class="list-group-item">
            <a href="{% url 'booking_detail' booking.id %}">
                <strong>{{ booking.user_name }}</strong> booked <em>{{ booking.fitness_class.title }}</em> on {{ booking.booking_date }}
            </a>
        </li>
    {% empty %}
        <li class="list-group-item">No bookings available.</li>
    {% endfor %}
    </ul>
    <a href="{% url 'book_class' %}" class="btn btn-primary mt-4">Book a Class</a>
{% endblock %}
